{% extends "base.html"%}

{%block content%}
    <h1> Bienvenue sur ProsoMatic </h1>
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-header">Informations utiles</div>
            <div class="card-body">
                <h4 class="card-title">Kézako ?</h4>
                <p class="card-text">Bienvenue sur notre site pour apprendre à bien parler le françois ou bien l'anglois.</p>
                <p class="card-text">En appuyant sur l'onglet Commencer dans la barre de navigation, vous pourrez commencer à vous entraîner.</p>
            <div class="card-body">
                <h4 class="card-title">Où Aller ?</h4>
                <p class="card-text">La page d'accueil sert à accueillir (clap clap). La page d'aide sert à vous aider (clap clap)</p>
                <p class="card-text">la page de contact ne sert pas à nous contacter(clap clap), et la page commencer sert à apprendre à bien parler la prosodie(clap clap)</p>
        </div>
{%endblock%}
